# AmlWorkbenchFullExample
/Demos/AmlWorkbenchFullExample/Client/.vs/*
/Demos/AmlWorkbenchFullExample/Client/bin/*
/Demos/AmlWorkbenchFullExample/Client/obj/*
/Demos/AmlWorkbenchFullExample/Client/packages/*

# Cognitive Services
/Demos/CognitiveServices/RssGenerator/.vs/*
/Demos/CognitiveServices/RssGenerator/bin/*
/Demos/CognitiveServices/RssGenerator/obj/*
/Demos/CognitiveServices/RssGenerator/packages/*
/Demos/CognitiveServices/wwwroot/bin/*

# Image Classification
/Utilities/ImageClassification/.vs/*
/Utilities/ImageClassification/bin/*
/Utilities/ImageClassification/obj/*
/Utilities/ImageClassification/packages/*

# Distributed Throughput
/Utilities/DistributedEndpointTesting/DistributedThroughput/.vs/*
/Utilities/DistributedEndpointTesting/DistributedThroughput/packages/*
/Utilities/DistributedEndpointTesting/DistributedThroughput/RecordProviderExample/bin/*
/Utilities/DistributedEndpointTesting/DistributedThroughput/RecordProviderExample/obj/*
/Utilities/DistributedEndpointTesting/DistributedThroughput/ThroughputApp/bin/*
/Utilities/DistributedEndpointTesting/DistributedThroughput/ThroughputApp/obj/*
/Utilities/DistributedEndpointTesting/DistributedThroughput/ThroughputInterfaces/bin/*
/Utilities/DistributedEndpointTesting/DistributedThroughput/ThroughputInterfaces/obj/*

# Subscription Maintenace
/Utilities/AzureSubscriptionCleanup/SubSpecific/*

